body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}
.contenedor{
    border: 1px solid grey;
    width: 70%;
    margin: 0 auto;
    padding: 1em;
}
.contenedor h1{
    font-size: 35px;
}
.contenedor .header{
    margin-top: 100px;
    margin-bottom: 45px;
}
.contenedor .cabecera{
    color:azure;
    font-size: 30px;
    font-weight: bold;
    background-color: cadetblue;
    margin: 2rem auto;
    padding: 2rem;
    text-align: left;
    border-radius: 5px;
}
.contenedor .cabecera .tagline{
    font-weight: normal;
    font-size: 20px;
    margin-left: 20%;
}