body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor{
    border: 1px solid grey;
    width: 70%;
    margin: 0 auto;
    padding: 1em;
}
.contenedor h1{
    font-size: 35px;
}
